{% extends 'base/base.html' %}
{% load static %}
{% block title %}Shop{% endblock title %}
{% block account %}
{% if is_user %}
<ul class="ht-dropdown ht-my_account">
    <li><a href="/dashboard">Dashboard</a></li>
</ul>
{% else %}
<ul class="ht-dropdown ht-my_account">
    <li><a href="{% url 'SIGNUP' %}">Register</a></li>
    <li class="active"><a href="{% url 'SIGNIN' %}">Login</a></li>
</ul>
{% endif %}
{% endblock account %}
{% block body %}
<style>
    td.uren-product-thumbnail {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    td.uren-product-thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<!-- Begin Uren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Uren's Cart Area -->
<div class="uren-cart-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form action="javascript:void(0)">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="uren-product-remove">remove</th>
                                    <th class="uren-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="uren-product-price">Unit Price</th>
                                    <th class="uren-product-quantity">Quantity</th>
                                    <th class="uren-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if carts %}
                                {% for cart in carts %}
                                <tr>
                                    <td class="uren-product-remove">
                                        <a href="{% url 'deleteCart' cart.id %}" id="cartremove">
                                            <i class="fa fa-trash" title="Remove"></i>
                                        </a>
                                    </td>
                                    <td class="uren-product-thumbnail"><a href="javascript:void(0)"><img
                                                src="{{cart.product.primary.url}}" alt="Uren's Cart Thumbnail"></a></td>
                                    <td class="uren-product-name"><a
                                            href="{% url 'detailsProduct' cart.product.slug %}">{{cart.product.pd_name|truncatechars:65}}</a>
                                    </td>
                                    <td class="uren-product-price"><span class="amount">${{cart.product.price}}</span>
                                    </td>
                                    <td class="quantity">
                                        <label>Quantity</label>
                                        <div class="cart-plus-minus">
                                            <input type="hidden" name="product_id" value="{{cart.id}}">
                                            <input class="cart-plus-minus-box" value="{{cart.quantity}}" type="text">
                                            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span
                                            class="line_total_amount">${{cart.line_total}}</span></td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6" class="text-center font-weight-bold text-danger">Cart Empty </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                        placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span id="subtotal_">${{subtotal}}</span></li>
                                    <li>Total <span id="total_">${{subtotal}}</span></li>
                                </ul>
                                <a href="{% url 'checkoutPage' %}">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Uren's Cart Area End Here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    /*----------------------------------------*/
    /*  Cart Plus Minus Button
    /*----------------------------------------*/
    $('.qtybutton').on('click', function () {
        var $button = $(this);
        var cartId = $button.parent().find('input:first').val();
        var oldValue = $button.parent().find('input:last').val();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        $button.parent().find('input:last').val(newVal);
        $.ajax({
            url: window.location.href,
            type: 'POST',
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {
                'cartId': cartId,
                'quantity': newVal,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (res) {
                if (res.status == "success") {
                    var line_total = document.getElementsByClassName("line_total_amount");
                    var base_total_price = document.getElementsByClassName("total-price");
                    var base_subtotal = document.getElementsByClassName('ammount');
                    var subtotal = document.getElementById("subtotal_");
                    var total = document.getElementById("total_");
                    subtotal.innerText = `$${res.subtotal}`;
                    base_total_price[0].innerText = `$${res.subtotal}`;
                    base_total_price[1].innerText = `$${res.subtotal}`;
                    base_subtotal[0].innerText = `$${res.subtotal}`;
                    total.innerText = `$${res.total}`;
                    for (let i = 0; i < line_total.length; i++) {
                        line_total[i].innerText = `$${res.line_total[i]}`
                    }
                }

            },
        });

    });
</script>

{% endblock body %}