{% extends 'base/base.html' %}
{% load static %}
{% block title %}Shop{% endblock title %}
{% block account %}
{% if is_user %}
<ul class="ht-dropdown ht-my_account">
    <li><a href="/dashboard">Dashboard</a></li>
</ul>
{% else %}
<ul class="ht-dropdown ht-my_account">
    <li><a href="{% url 'SIGNUP' %}">Register</a></li>
    <li class="active"><a href="{% url 'SIGNIN' %}">Login</a></li>
</ul>
{% endif %}
{% endblock account %}
{% block body %}
<!-- Begin Uren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
                <li><a href="{% url 'HOME' %}">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Uren's Checkout Area -->
<div class="checkout-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="coupon-accordion">
                    <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form action="javascript:void(0)">
                                <p class="checkout-coupon">
                                    <input placeholder="Coupon code" type="text">
                                    <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <form action="" method="post" id="formsubmit" onsubmit="return checkform(this)">
                    {% csrf_token %}
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                            {% for fm in cform %}
                            <div class="col-md-12">
                                {{fm.label}} {{fm}}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="different-address">
                            <div class="ship-different-title">
                                <h3>
                                    <label>Ship to a different address?</label>
                                    <input id="ship-box" type="checkbox">
                                </h3>
                            </div>
                            <div id="ship-box-info" class="row">
                                {% for sfm in sform %}
                                <div class="col-md-12">
                                    {{sfm.label}} {{sfm}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="order-notes">
                                <div class="checkout-form-list checkout-form-list-2">
                                    <label>Order Notes</label>
                                    <textarea id="checkout-mess" cols="30" rows="10"
                                        placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                        </div>
                </form>
            </div>

        </div>
        <div class="col-lg-6 col-12">
            <div class="your-order">
                <h3>Your order</h3>
                <div class="your-order-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="cart-product-name">Product</th>
                                <th class="cart-product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr class="cart_item">
                                <td class="cart-product-name"> {{cart.product.pd_name|truncatechars:20}}<strong
                                        class="product-quantity">
                                        ×{{cart.quantity}}</strong></td>
                                <input type="hidden" name="product" value="{{cart.product.id}}">
                                <input type="hidden" name="quantity" value="{{cart.quantity}}">
                                <td class="cart-product-total"><span class="amount">${{cart.line_total}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="cart-subtotal">
                                <th>Cart Subtotal</th>
                                <td><span class="amount">${{subtotal}}</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>Order Total</th>
                                <td><strong><span class="amount">${{subtotal}}</span></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="payment-method">
                    <div class="payment-accordion">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="#payment-1">
                                    <h5 class="panel-title">
                                        <a href="javascript:void(0)" class="" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Direct Bank Transfer.
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Make your payment directly into our bank account. Please use your
                                            Order
                                            ID as the payment
                                            reference. Your order won’t be shipped until the funds have cleared
                                            in
                                            our account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="#payment-2">
                                    <h5 class="panel-title">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Cheque Payment
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Make your payment directly into our bank account. Please use your
                                            Order
                                            ID as the payment
                                            reference. Your order won’t be shipped until the funds have cleared
                                            in
                                            our account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="#payment-3">
                                    <h5 class="panel-title">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            PayPal
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Make your payment directly into our bank account. Please use your
                                            Order
                                            ID as the payment
                                            reference. Your order won’t be shipped until the funds have cleared
                                            in
                                            our account.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-button-payment">
                            <input id="submit_order" value="Place order" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- Uren's Checkout Area End Here -->

<script>
    var submit_btn = document.getElementById("submit_order");
    var form_ = document.getElementById("formsubmit");

    function checkform(form) {
        // get all the inputs within the submitted form
        var inputs = form.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            // only validate the inputs that have the required attribute
            if (inputs[i].hasAttribute("required")) {
                if (inputs[i].value == "") {
                    // found an empty field that is required
                    alert("Please fill all required fields");
                    return false;
                }
            }
        }
        return true;
    }
    submit_btn.addEventListener("click", function () {
        var inputs = form_.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            // only validate the inputs that have the required attribute
            if (inputs[i].hasAttribute("required")) {
                if (inputs[i].value == "") {
                    // found an empty field that is required
                    inputs[i].style.backgroundColor = "#ffa9a957";
                    inputs[i].placeholder = "You need to fill this field";
                }
            }
        }
    });
</script>

{% endblock body %}