{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard - SHISHIR{% endblock title %}
{% block profile %}
<div class="d-flex align-items-center ms-4 mb-4">
    <div class="position-relative">
        <div class="profile_pic">
            <img class="" src="{{profile.avater.url}}" alt="">
        </div>
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
    </div>
    <div class="ms-3">
        <h6 class="mb-0">{{profile.user.username}}</h6>
        <span>Admin</span>
    </div>
</div>
{% endblock profile %}
{% block body %}
 <!-- Sale & Revenue Start -->
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->


<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Worldwide Sales</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="worldwide-sales"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Salse & Revenue</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="salse-revenue"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->

<!-- Product Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All Products</h6>
            <a href="{% url 'product_table' %}">See All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">S.N</th>
                        <th scope="col" style="width: 85%;">products</th>
                        <th scope="col">Action</th>
                    </tr>

                </thead>
                <tbody>
                    {% if products %}
                        {% for product in products|slice:5 %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{product.pd_name|truncatechars:70}}</td>
                                <td><a class="btn btn-sm btn-primary" href="{% url 'update_product' product.id %}">Detail</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td colspan="3" class="text-center text-danger" >Product not available</td>
                            </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Prodeuct End -->
<!-- Blogs Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All Blogs</h6>
            <a href="{% url 'blog_table' %}">See All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">S.N</th>
                        <th scope="col" style="width: 85%;">Blog Post</th>
                        <th scope="col">Action</th>
                    </tr>

                </thead>
                <tbody>
                    {% if blogs %}
                        {% for blog in blogs|slice:5 %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{blog.title|truncatechars:70}}</td>
                                <td><a class="btn btn-sm btn-primary" href="{% url 'update_blog' blog.id %}">Detail</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td colspan="3" class="text-center text-danger" >Blog not available</td>
                            </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Blogs End -->

{% endblock body %}