{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard Products - SHISHIR{% endblock title %}
{% block profile %}
<div class="d-flex align-items-center ms-4 mb-4">
    <div class="position-relative">
        <div class="profile_pic">
            <img class="" src="{{profile.avater.url}}" alt="">
        </div>
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
    </div>
    <div class="ms-3">
        <h6 class="mb-0">{{profile.user.username}}</h6>
        <span>Admin</span>
    </div>
</div>
{% endblock profile %}
{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All Products</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">S.N</th>
                        <th scope="col" style="width: 85%;">products</th>
                        <th scope="col">Action</th>
                    </tr>

                </thead>
                <tbody>
                    {% if products %}
                        {% for product in products %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{product.pd_name|truncatechars:70}}</td>
                                <td><a class="btn btn-sm btn-primary" href="{% url 'update_product' product.id %}">Detail</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td colspan="3" class="text-center text-danger" >Product not available</td>
                            </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}